@font-face {
  font-family: Righteous;
  src: url('fonts/Righteous/Righteous-Regular.ttf');
}

body {
  background: #f5f5f5;
}

.App {
  text-align: center;
  background: #f5f5f5;
}

.title-background {
  background: rgb(64, 58, 109);
  padding: 20px 0;
  transition: 0.2 ease;
}

.app-title {
  color: white;
  font-family: Righteous;
  letter-spacing: 2px;
  font-size: 5em;
  margin: 0;
}

.welcome-message {
  color: white;
  font-family: Roboto;
  font-weight: 400;
  font-size: 1em;
  margin: 0;
}

.search-bar {
  display: block;
  width: 800px;
  height: 23px;
  box-shadow: 0px 3px 6px #00000029;
  border: none;
  border-radius: 50px;
  outline: none;
  margin: 24px auto;
  padding: 13px 19px 11px 19px;
  transition: 0.2s ease;
}

.search-bar::placeholder {
  color: #a1a1a1;
}

.search-bar:hover {
  box-shadow: 0px 3px 9px #00000045;
}

.filter-buttons {
  display: inline-block;
  position: relative;
  left: -165px;
}

.all-btn, .home-btn, .work-btn, .personal-btn {
  padding: 8px 16px;
  background-color: none;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.23s ease;
}

.all-btn {
  background-color: #69BCFF;
  color: white;
}

.all-btn:hover {
  background-color: #69BCFF;
  color: white;
}

.home-btn:hover {
  background-color: #FF9100;
  color: white;
}

.work-btn:hover {
  background-color: #5C6BC0;
  color: white;
}

.personal-btn:hover {
  background-color: #66BB6A;
  color: white;
}

.sign-in {
  position: relative;
  top: 20px;
}

.sign-out {
  position: relative;
  left: 165px;
}

.add-btn {
  position: relative;
  left: 150px;
}

.progress-message {
  width: 58%;
  margin: 0 auto;
  padding: 10px;
}

.progress-bar {
  width: 54.5%;
  margin: 0 auto 30px auto;
}

.empty-message {
  color: #00000099;
  font-weight: 500;
  opacity: 0.6;
  cursor: default;
}

.note {
  width: 380px;
  height: 174px;
  display: inline-block;
  text-overflow: ellipsis;
  color: white;
  background: white;
  margin: 12px 8px;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 3px 6px #00000029;
  transition: 0.2s ease;
}

.note:hover {
  box-shadow: 0 3px 5px #00000042;
}

.note div {
  width: 100%;
  text-align: left;
}

.note-checkbox {
  position: relative;
  top: -30px;
  left: -30px;
}

.note-checkbox:hover, .edit-btn:hover, .delete-btn:hover {
  cursor: pointer;
  opacity: 1;
}

.note-title {
  position: relative;
  top: -75px;
  left: 25px;
  text-align: left;
  margin-left: 22px;
}

.edit-btn {
  position: relative;
  top: -118px;
  left: 260px;
  width: 40px;
  height: 40px;
  margin-right: 50px;
}

.delete-btn {
  position: relative;
  top: -118px;
  left: 265px;
  width: 40px;
  height: 40px;
  margin-right: 200px;
}

.note-description {
  position: relative;
  top: -120px;
  left: -10px;
  height: 120px;
  font: normal normal medium 20px/26px Roboto;
  text-align: left;
  text-overflow: ellipsis;
}

.home {
  background: #66bb6a 0% 0% no-repeat padding-box;
}

.work {
  background: #5C6BC0 0% 0% no-repeat padding-box;
}

.personal {
  background: #FF9100  0% 0% no-repeat padding-box;
}

.dialog {
  margin: auto;
}

.dialog-label {
  color: #00000099;
  display: block;
  text-align: left;
  font: normal normal normal 24px/29px Roboto;
  opacity: 0.8;
  margin: 9px 17px 18px 17px;
  border-bottom: 1px solid #00000029;
}

.dialog-form {
  flex-wrap: wrap;
}

.title-input {
  position: relative;
  width: 475px;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0.15px;
  color: #00000099;
  margin: 0 20px 20px 0;
}

.category-input {
  position: relative;
  width: 270px;
  height: 48px;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0.15px;
  color: #00000099;
  padding: 14px 16px 11px 16px;
}

.description-input {
  position: relative;
  width: 475px;
  height: 227px;
  margin: 28px 0;
  font: normal normal normal 16px/24px Roboto;
  letter-spacing: 0.15px;
  color: #00000099;
  padding: 14px 16px 11px 16px;
}

.cancel-btn, .submit-btn {
  padding: 8px;
  display: inline-block;
  margin: 0;
  font: normal normal 400 14px/16px Roboto;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.cancel-btn:hover, .submit-btn:hover {
  cursor: pointer;
}

.notes {
  width: 70%;
  margin: 0 auto;
  margin-top: 10px;
}
